# History files
.Rhistory

# Example code in package build process
*-Ex.R

# R data files from past sessions
.Rdata
.Rproj.user
.RData

# Others
hddtools.Rproj

# Text files
vignettes/hddtools_vignette_cache/
vignettes/hddtools_vignette.R
vignettes/hddtools_vignette.html
vignettes/hddtools_vignette.md
review.md

inst/tmp/
inst/paper/paper.pdf
inst/blog

# Remove docs folder (site builds automatically)
docs/*
