# History files
.Rhistory

# Example code in package build process
*-Ex.R

# R data files from past sessions
.Rdata
.Rproj.user

# Others
.Rbuildignore
hddtools.Rproj

# tar files
*.tar.gz

#test files
tests
