# History files
.Rhistory

# Example code in package build process
*-Ex.R

# R data files from past sessions
.Rdata
.Rproj.user
.RData
old

# Others
hddtools.Rproj

# Text files
README_cache/
vignettes/hddtools_vignette_cache/
review.md
