import(sp)
import(rgdal)
import(raster)
import(RCurl)
import(XML)
import(zoo)

export(GRDCCatalogue)
export(GRDCMonthlyTS)
export(KGClimateClass)
export(TRMM)
export(getContent)
export(MOPEXCatalogue)
export(MOPEXTS)
