import(sp)
import(rgdal)
import(raster)
import(RCurl)
import(XML)
import(zoo)
import(rnrfa)
importFrom(stringr, str_pad)
importFrom(Hmisc, monthDays)

export(bboxSpatialPolygon)
export(catalogueData60UK)
export(tsData60UK)
export(catalogueGRDC)
export(tsGRDC)
export(KGClimateClass)
export(catalogueMOPEX)
export(tsMOPEX)
export(catalogueSEPA)
export(tsSEPA)
export(TRMM)
export(HadDAILY)
