import(sp)
import(rgdal)
import(raster)
import(RCurl)
import(XML)
import(zoo)
import(rnrfa)

export(bboxSpatialPolygon)
export(Data60UKCatalogue)
export(Data60UKDailyTS)
export(GRDC_Catalogue)
export(GRDC_TS)
export(KGClimateClass)
export(MOPEX_Catalogue)
export(MOPEX_TS)
export(SEPA_Catalogue)
export(SEPA_TS)
export(TRMM)
